Repository SleipnirGroup/Choreo, pull requests merged in 2025-07, with the labels that each got.

#1284 [trajoptlib] Upgrade to Catch2 3.8.1
  trajoptlib/CMakeLists.txt
Labels: component: trajoptlib

#1286 [docs] Fix package name in build instructions
  docs/contributing/building-choreo.md
Labels: component: documentation

#1287 [docs] Update link to Tauri dependency installation instructions
  docs/contributing/building-choreo.md
Labels: component: documentation

#1291 [choreo] Add button to generate all trajectories
  src/components/sidebar/Sidebar.tsx
  src/document/DocumentModel.tsx
Labels: component: ui

#1292 Upgrade to wpiformat 2025.34
  .github/workflows/lint-format.yml
  trajoptlib/CMakeLists.txt
Labels: type: build, component: trajoptlib
