Repository SleipnirGroup/Choreo, pull requests merged in 2025-04, with the labels that each got.

#1226 Fix clippy warnings
  src-tauri/src/logging.rs
Labels: component: backend

#1227 Fix nested if-let indentation
  src-core/src/generation/transformers/constraints.rs
Labels: component: backend

#1228 [ci] Upgrade sccache action
  .github/workflows/choreo.yml
  .github/workflows/trajoptlib-cpp.yml
  .github/workflows/trajoptlib-rust.yml
  .github/workflows/trajoptlib-sanitizers.yml
Labels: type: build

#489 [choreo] Upgrade to Tauri v2
  .github/workflows/choreo.yml
  .github/workflows/lint-format.yml
  .gitignore
  Cargo.lock
  copy-sidecar.cjs
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/capabilities/main.json
  src-tauri/src/api.rs
  src-tauri/src/tauri.rs
  src-tauri/tauri.conf.json
  src/AppMenu.tsx
  src/components/config/KeyboardShortcutsPanel.tsx
  src/components/sidebar/PathSelector.tsx
  src/document/DocumentManager.ts
  src/document/UIStateStore.tsx
  src/document/tauriCommands.ts
  src/document/tauriTracing.ts
  src/util/BuildInfo.ts
Labels: type: build, component: ui, component: backend

#1224 [trajoptlib] Use C++23
  .github/workflows/choreo.yml
  .github/workflows/lint-format.yml
  .github/workflows/release.yml
  trajoptlib/CMakeLists.txt
  trajoptlib/README.md
  trajoptlib/build.rs
  trajoptlib/cmake/0001-Downgrade-to-C-20.patch
  trajoptlib/cmake/modules/CompilerFlags.cmake
  trajoptlib/include/trajopt/DifferentialTrajectoryGenerator.hpp
  trajoptlib/include/trajopt/SwerveTrajectoryGenerator.hpp
  trajoptlib/include/trajopt/util/expected
  trajoptlib/src/DifferentialTrajectoryGenerator.cpp
  trajoptlib/src/RustFFI.hpp
  trajoptlib/src/SwerveTrajectoryGenerator.cpp
Labels: type: build, component: trajoptlib

#1223 [trajoptlib] Upgrade Sleipnir for faster solves
  trajoptlib/CMakeLists.txt
  trajoptlib/cmake/modules/CompilerFlags.cmake
  trajoptlib/include/trajopt/DifferentialTrajectoryGenerator.hpp
  trajoptlib/include/trajopt/SwerveTrajectoryGenerator.hpp
  trajoptlib/include/trajopt/constraint/AngularVelocityMaxMagnitudeConstraint.hpp
  trajoptlib/include/trajopt/constraint/Constraint.hpp
  trajoptlib/include/trajopt/constraint/LaneConstraint.hpp
  trajoptlib/include/trajopt/constraint/LinePointConstraint.hpp
  trajoptlib/include/trajopt/constraint/LinearAccelerationMaxMagnitudeConstraint.hpp
  trajoptlib/include/trajopt/constraint/LinearVelocityDirectionConstraint.hpp
  trajoptlib/include/trajopt/constraint/LinearVelocityMaxMagnitudeConstraint.hpp
  trajoptlib/include/trajopt/constraint/PointAtConstraint.hpp
  trajoptlib/include/trajopt/constraint/PointLineConstraint.hpp
  trajoptlib/include/trajopt/constraint/PointLineRegionConstraint.hpp
  trajoptlib/include/trajopt/constraint/PointPointMaxConstraint.hpp
  trajoptlib/include/trajopt/constraint/PointPointMinConstraint.hpp
  trajoptlib/include/trajopt/constraint/PoseEqualityConstraint.hpp
  trajoptlib/include/trajopt/constraint/TranslationEqualityConstraint.hpp
  trajoptlib/include/trajopt/constraint/detail/LinePointSquaredDistance.hpp
  trajoptlib/include/trajopt/geometry/Pose2.hpp
  trajoptlib/include/trajopt/geometry/Rotation2.hpp
  trajoptlib/include/trajopt/geometry/Translation2.hpp
  trajoptlib/src/DifferentialTrajectoryGenerator.cpp
  trajoptlib/src/RustFFI.hpp
  trajoptlib/src/SwerveTrajectoryGenerator.cpp
  trajoptlib/src/error.rs
Labels: component: trajoptlib

#1123 [trajoptlib] Give each sample its own dt
  trajoptlib/src/DifferentialTrajectoryGenerator.cpp
  trajoptlib/src/SwerveTrajectoryGenerator.cpp
Labels: component: trajoptlib

#1231 [ci] Upgrade sccache action
  .github/workflows/choreo.yml
  .github/workflows/trajoptlib-cpp.yml
  .github/workflows/trajoptlib-rust.yml
  .github/workflows/trajoptlib-sanitizers.yml
Labels: type: build

#1230 [trajoptlib] Rename functions and variables to snake case
  trajoptlib/examples/differential/src/main.cpp
  trajoptlib/examples/swerve/src/main.cpp
  trajoptlib/include/trajopt/constraint/angular_velocity_max_magnitude_constraint.hpp
  trajoptlib/include/trajopt/constraint/constraint.hpp
  trajoptlib/include/trajopt/constraint/detail/line_point_squared_distance.hpp
  trajoptlib/include/trajopt/constraint/lane_constraint.hpp
  trajoptlib/include/trajopt/constraint/line_point_constraint.hpp
  trajoptlib/include/trajopt/constraint/linear_acceleration_max_magnitude_constraint.hpp
  trajoptlib/include/trajopt/constraint/linear_velocity_direction_constraint.hpp
  trajoptlib/include/trajopt/constraint/linear_velocity_max_magnitude_constraint.hpp
  trajoptlib/include/trajopt/constraint/point_at_constraint.hpp
  trajoptlib/include/trajopt/constraint/point_line_constraint.hpp
  trajoptlib/include/trajopt/constraint/point_line_region_constraint.hpp
  trajoptlib/include/trajopt/constraint/point_point_max_constraint.hpp
  trajoptlib/include/trajopt/constraint/point_point_min_constraint.hpp
  trajoptlib/include/trajopt/constraint/pose_equality_constraint.hpp
  trajoptlib/include/trajopt/constraint/translation_equality_constraint.hpp
  trajoptlib/include/trajopt/differential_trajectory_generator.hpp
  trajoptlib/include/trajopt/geometry/pose2.hpp
  trajoptlib/include/trajopt/geometry/rotation2.hpp
  trajoptlib/include/trajopt/geometry/translation2.hpp
  trajoptlib/include/trajopt/path/path.hpp
  trajoptlib/include/trajopt/path/path_builder.hpp
  trajoptlib/include/trajopt/swerve_trajectory_generator.hpp
  trajoptlib/include/trajopt/util/cancellation.hpp
  trajoptlib/include/trajopt/util/generate_linear_initial_guess.hpp
  trajoptlib/include/trajopt/util/trajopt_util.hpp
  trajoptlib/src/differential_trajectory_generator.cpp
  trajoptlib/src/rust_ffi.cpp
  trajoptlib/src/swerve_trajectory_generator.cpp
  trajoptlib/src/util/cancellation.cpp
  trajoptlib/test/src/differential_path_builder_test.cpp
  trajoptlib/test/src/geometry/pose2d_test.cpp
  trajoptlib/test/src/geometry/rotation2d_test.cpp
  trajoptlib/test/src/geometry/translation2d_test.cpp
  trajoptlib/test/src/swerve_path_builder_test.cpp
  trajoptlib/test/src/util/generate_linear_initial_guess_test.cpp
  trajoptlib/test/src/util/trajopt_util_test.cpp
Labels: component: trajoptlib

#1232 [ci] Cache cargo test artifacts
  .github/workflows/choreo.yml
  .github/workflows/trajoptlib-rust.yml
Labels: type: build

#1221 File saving overhaul: Write files immediately w/ error passback, loud feedback on saving.
  src-core/src/file_management/mod.rs
  src-core/src/generation/remote.rs
  src-core/src/generation/transformers/callback.rs
  src-core/src/integration_tests/generate.rs
  src-core/src/lib.rs
  src-tauri/src/api.rs
  src/AppMenu.tsx
  src/assets/GenerateInProgress.tsx
  src/assets/IconInProgress.tsx
  src/assets/SaveInProgress.tsx
  src/components/sidebar/PathSelector.tsx
  src/components/sidebar/ProjectSaveStatusIndicator.tsx
  src/components/sidebar/Sidebar.module.css
  src/components/sidebar/Sidebar.tsx
  src/document/DocumentManager.ts
  src/document/PathListStore.ts
  src/document/UIStateStore.tsx
  src/document/path/HolonomicPathStore.ts
  src/document/path/PathUIStore.ts
  src/document/tauriCommands.ts
Labels: component: ui, component: backend

#1234 [docs] Update compiler requirements
  docs/contributing/building-choreo.md
Labels: component: documentation

#1236 Use C++23 preview flag on Windows
  trajoptlib/build.rs
Labels: component: trajoptlib

#1237 Fix spelling of CI initialism in log
  src-tauri/src/built.rs
Labels: component: backend

#1238 [trajoptlib] Make test executables use snake case
  trajoptlib/CMakeLists.txt
Labels: component: trajoptlib

#1239 [trajoptlib] Fix return docs for generate()
  trajoptlib/include/trajopt/differential_trajectory_generator.hpp
  trajoptlib/include/trajopt/swerve_trajectory_generator.hpp
Labels: component: trajoptlib

#1240 [ci] Make cargo test do release build
  .github/workflows/choreo.yml
Labels: type: build

#1235 Remove libgit2 dependency from build info gathering
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/built.rs
Labels: component: backend, state: needs review

#629 [trajoptlib] Run C++ examples in CI
  .github/workflows/trajoptlib-cpp.yml
  .github/workflows/trajoptlib-rust.yml
  .github/workflows/trajoptlib-sanitizers.yml
  trajoptlib/examples/differential/src/main.cpp
  trajoptlib/examples/swerve/src/main.cpp
Labels: type: build, component: trajoptlib

#1241 [trajoptlib] Make more variables use snake case
  trajoptlib/src/swerve_trajectory_generator.cpp
Labels: component: trajoptlib

#1243 [docs] Specify Visual Studio version in contributing docs
  docs/contributing/building-choreo.md
Labels: component: documentation

#1142 [choreolib] Integrate sample values
  .github/workflows/choreolib.yml
  choreolib/py/choreo/trajectory/__init__.py
  choreolib/py/pyproject.toml
  choreolib/src/main/java/choreo/trajectory/DifferentialSample.java
  choreolib/src/main/java/choreo/trajectory/SwerveSample.java
  choreolib/src/main/native/include/choreo/trajectory/DifferentialSample.h
  choreolib/src/main/native/include/choreo/trajectory/SwerveSample.h
Labels: component: choreolib-java, component: choreolib-cpp

#1099 Copy WPILib's CubicHermiteSpline as a differential initial guess
  trajoptlib/examples/differential/src/main.cpp
  trajoptlib/include/trajopt/path/path_builder.hpp
  trajoptlib/include/trajopt/spline/cubic_hermite_pose_spline_holonomic.hpp
  trajoptlib/include/trajopt/spline/cubic_hermite_spline.hpp
  trajoptlib/include/trajopt/spline/cubic_hermite_spline1d.hpp
  trajoptlib/include/trajopt/spline/spline.hpp
  trajoptlib/include/trajopt/spline/spline_helper.hpp
  trajoptlib/include/trajopt/util/generate_spline_initial_guess.hpp
  trajoptlib/src/differential_trajectory_generator.cpp
  trajoptlib/src/swerve_trajectory_generator.cpp
  trajoptlib/test/src/differential_path_builder_test.cpp
  trajoptlib/test/src/swerve_path_builder_test.cpp
Labels: component: trajoptlib

#1247 [ci] Upgrade to Xcode 16.2 for newest Sleipnir
  .github/workflows/choreo.yml
  .github/workflows/trajoptlib-cpp.yml
  .github/workflows/trajoptlib-rust.yml
  Cargo.lock
  docs/contributing/building-choreo.md
  src-tauri/tauri.conf.json
  trajoptlib/CMakeLists.txt
  trajoptlib/cmake/modules/CompilerFlags.cmake
Labels: component: documentation, type: build, component: backend, component: trajoptlib

#1248 [ci] Upgrade to prettier 3.5.3
  .github/workflows/lint-format.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  src/styles.css
Labels: type: build, component: ui

#1249 Upgrade mobx-react to 9.2.0 with necessary architectural changes.
  package.json
  pnpm-lock.yaml
  src/components/field/svg/OverlayWaypoint.tsx
  src/components/input/ExpressionInput.tsx
  src/document/ExpressionStore.tsx
Labels: component: ui

#1244 Upgrade all dependencies
  Cargo.lock
  package.json
  pnpm-lock.yaml
  src-cli/Cargo.toml
  src-core/Cargo.toml
  src-tauri/Cargo.toml
  src/components/config/KeyboardShortcutsPanel.tsx
  src/components/config/eventmarker/CommandDraggable.tsx
  src/components/config/eventmarker/EventMarkerConfigPanel.tsx
  src/components/config/variables/PoseVariablesConfigPanel.tsx
  src/components/config/variables/VariablesConfigPanel.tsx
  src/components/field/Field.tsx
  src/components/field/svg/FieldOverlayRoot.tsx
  src/components/field/svg/OverlayWaypoint.tsx
  src/components/field/svg/constraintDisplay/FieldConstraintDisplayLayer.tsx
  src/components/field/svg/constraintDisplay/KeepInCircleOverlay.tsx
  src/components/field/svg/constraintDisplay/KeepInLaneOverlay.tsx
  src/components/field/svg/constraintDisplay/KeepInRectangleOverlay.tsx
  src/components/field/svg/constraintDisplay/KeepOutCircleOverlay.tsx
  src/components/field/svg/constraintDisplay/PointAtOverlay.tsx
  src/components/input/BooleanInput.tsx
  src/components/input/ExpressionInput.tsx
  src/components/input/Input.tsx
  src/components/sidebar/ProjectSaveStatusIndicator.tsx
  src/document/DocumentManager.ts
  src/document/DocumentModel.tsx
  src/document/ExpressionStore.tsx
  src/main.tsx
  trajoptlib/Cargo.toml
Labels: component: ui, component: backend, component: trajoptlib, component: cli

#1250 [build, ci] Switch to publishing to WPILib artifactory
  .github/workflows/choreolib.yml
  choreolib/ChoreoLib2025.json
  choreolib/publish.gradle
Labels: type: build
