Repository SleipnirGroup/Choreo, pull requests merged in 2025-02, with the labels that each got.

#1186 [choreolib] Change auto checks to enabled
  choreolib/src/main/java/choreo/auto/AutoRoutine.java
Labels: component: choreolib-java

#1193 fix: param order in AutoFactory
  choreolib/src/main/java/choreo/auto/AutoFactory.java
Labels: component: choreolib-java

#1200 Fixed Incorrect game name
  docs/usage/editing-paths.md
Labels: component: documentation

#1203 Fix angular velocity typo in C++ sample code
  docs/choreolib/getting-started.md
Labels: component: documentation

#1204 [trajoptlib] Rename append_vector() to append_range()
  trajoptlib/include/trajopt/util/GenerateLinearInitialGuess.hpp
Labels: component: trajoptlib

#1205 Fix redundant guard warning from clippy
  src-core/src/generation/heading.rs
Labels: component: backend

#1206 [choreolib] Comment out flaky timing assertions
  choreolib/src/test/java/choreo/auto/DoneTest.java
Labels: component: choreolib-java

#1207 Fix Javadoc 21 warning and clean up generated files
  choreolib/src/main/java/choreo/util/TrajSchemaVersion.java
  choreolib/src/main/native/include/choreo/util/TrajSchemaVersion.h
  update_field_dimensions.py
  update_project_schema.py
  update_traj_schema.py
Labels: component: choreolib-java, component: choreolib-cpp
