Repository SleipnirGroup/Choreo, pull requests merged in 2025-05, with the labels that each got.

#1251 [trajoptlib] Upgrade Sleipnir for refactored diagnostics
  trajoptlib/CMakeLists.txt
Labels: component: trajoptlib

#1256 [trajoptlib] Upgrade Sleipnir for small_vector dependency upgrade
  trajoptlib/CMakeLists.txt
Labels: component: trajoptlib

#1255 Add logic to backend postprocess to update event marker timestamps
  src-core/src/generation/transformers/mod.rs
Labels: type: bug, component: backend

#1254 Store variables in frontend as a map keyed by uuid
  src/components/config/PoseAssignToWaypointDropdown.tsx
  src/components/config/WaypointConfigPanel.tsx
  src/components/config/variables/PoseVariablesConfigPanel.tsx
  src/components/config/variables/VariableRenamingInput.tsx
  src/components/config/variables/VariablesConfigPanel.tsx
  src/document/DocumentManager.ts
  src/document/ExpressionStore.tsx
Labels: component: ui

#1259 Upgrade Rust and Node dependencies to latest versions
  Cargo.lock
  package.json
  pnpm-lock.yaml
  src-cli/Cargo.toml
  src-core/Cargo.toml
  src-tauri/Cargo.toml
  src/App.tsx
Labels: component: ui, component: backend, component: cli
