Repository SleipnirGroup/Choreo, pull requests merged in 2025-06, with the labels that each got.

#1262 [trajoptlib] Fix parameter name in Pose2.rotate_by
  trajoptlib/include/trajopt/geometry/pose2.hpp
  trajoptlib/include/trajopt/geometry/translation2.hpp
Labels: component: trajoptlib

#1264 Upgrade Rust and TypeScript dependencies to latest versions
  Cargo.lock
  package.json
  pnpm-lock.yaml
  src-core/Cargo.toml
Labels: component: backend

#1265 [trajoptlib] Upgrade Sleipnir for bound constraint feasibility check
  trajoptlib/CMakeLists.txt
Labels: component: trajoptlib

#1271 [SystemCore-alpha] Install SystemCore toolchain before running Gradle commands
  .github/workflows/choreolib.yml
Labels: type: build

#1272 Fix capitalization of draft release renaming
  .github/workflows/choreo.yml
Labels: type: build
